@import '~antd/dist/antd.css';

html, body, .App {
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  background-color: #008080;
}

.login-form {
  width: 30%;
  background-color: #FAFAFA;
  padding: 30px;

}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.login-box {
  background-color: #FAFAFA;
  margin: auto 0;
}

.center-screen {
  display: flex;
  flex-direction: column;
}

.request-box {
  width: 50%; 
  background-color: #FAFAFA;
  padding: 20px;
}

.feed-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-page {
  height: 100%;
  background-color: #008080;
}

.request-input {
  width: 50%;
  background-color: #FAFAFA;
  padding: 30px;
  margin-top: 10px;
}

.logo {
  float: left;
  justify-self: start;
  width: 60px;
  height: 60px;
  padding: 5px;
  margin: 0px 0px 0px 0;
  background-image: url("vouch-logo.svg");

  /* background: rgba(255, 255, 255, 0.3); */
}

.header {
  background-color: #FAFAFA;
}

.menu-links {
  background-color: #FAFAFA;
  color: #008080;
}

.green-text {
  color: #66B2B2;
}

.title-green-text {
  color: #008080;
}

.title-green-text-secondary {
  opacity: 75%;
  color: #001A23 !important;
}