@import '~antd/dist/antd.css';

html, body, .App {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  background-color: #008080;
}

.login-form {
  width: 30%;
  background-color: #FAFAFA;
  padding: 30px;

}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.login-box {
  background-color: #FAFAFA;
  margin: auto 0;
}

.center-screen {
  display: flex;
  flex-direction: column;
}